/*Reset*/
*{
	box-sizing:border-box;
	margin:0;
	padding:0}
/*Document*/
html{
	font-size:16px;
	overflow-x:hidden;
	position:relative}
body,h1,h2,h3,h3,h4,h5,h6,textarea,.h1,.h2,.h3,.h4,.h5,.h6,.p,.p1,.p2,.p3,.p4,.p5,.p6{line-height:1.5em}
body,input,select,textarea,button{font-size:1em}
body{
	margin-left:auto;
	margin-right:auto}
/*Typography*/
h1,h2,h3,h4,h5,h6,p,ol,ul,label,.h1,.h2,.h3,.h4,.h5,.h6{
	padding-bottom:.75em;
	padding-top:.75em}
h1,.h1,.p1{font-size:2em}
h2,.h2,.p2{font-size:1.5em}
h3,h4,h5,h6,.h3,.h4,.h5,.h6,.p,.p3,.p4,.p5,.p6{font-size:1em}
ol,ul{padding-left:2em}
dt{padding-top:.75em}
dd{padding-bottom:.75em}
a{
	cursor:pointer;
	text-decoration:none}
address{font-style:normal}
cite{font-style:normal}
del{text-decoration:line-through}
ins{text-decoration:underline}
small,sub,sup{font-size:75%}
sub,sup{line-height:75%}
sub{vertical-align:-33.3333%}
sup{vertical-align:33.3333%}
.List-None{
	list-style:none;
	padding-left:0}
.Font-200,.Font-150{line-height:150%}
.Font-200{font-size:200%}
.Font-150{font-size:150%}
.Text-Capitalize{text-transform:capitalize}
.Text-Lowercase{text-transform:lowercase}
.Text-Uppercase{text-transform:uppercase}
.Text-Center{text-align:center}
.Text-Justify{text-align:justify}
.Text-Left{text-align:left}
.Text-Right{text-align:right}
/*Font Awesome*/
.Button .fa{margin-right:.75em}
/*Format*/
br,hr{clear:both}
br{
	height:0;
	width:0}
hr{
	border:0;
	height:1px;
	width:100%}
.hr-Gutter{
	margin-bottom:7rem;
	margin-top:7rem}
.br-Gutter{line-height:6rem}
.Border,.Borders>*{border:1px solid}
/*Media*/
iframe{border:0}
img{
	display:inline-block;
	height:auto;
	max-width:100%;
	vertical-align:middle}
.Media,.Media img{display:block}
.Media{
	text-align:center;
	padding-bottom:1rem;
	padding-top:1rem}
.Media>*{
	margin-left:auto;
	margin-right:auto}
.Media .fa{
	font-size:8rem;
	line-height:8rem;
	padding-left:1rem;
	padding-right:1rem}
.Media-Scale>*{width:100%}
.Media-Gutter>*+*{margin-top:2rem}
.Divider{background:url(../Interface/Background__Divider.png) center no-repeat}
.Icon{height:8rem}
.Initial{height:1em}
.Video{
	height:0;
	padding-bottom:56.25%;
	position:relative}
.Video>*{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%}
/*Form*/
:focus{outline:0}
fieldset,input,select,textarea{border:1px solid}
fieldset{
	margin-bottom:1em;
	margin-top:1em;
	padding:1em 2em}
legend,textarea{padding:.75em 1em}
label,input,select,textarea{display:block}
input,select,textarea{
	/*Start stripping iOS styling*/
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	border-radius:0;
	/*End stripping iOS styling*/
	margin-bottom:.25em;
	margin-top:.25em;
	width:100%}
input,select{
	height:3em;
	line-height:3em;
	text-indent:1em}
input[type=checkbox],input[type=radio]{
	display:inline-block;
	height:1em;
	margin-bottom:0;
	margin-top:0;
	vertical-align:middle;
	width:1em}
input[type=submit],input[type=reset],button{
	border:0;
	cursor:pointer;
	line-height:1.5em;
	text-indent:0;
	width:auto}
textarea{min-height:12em}
/*Interactive*/
.Badge,.Button,.Label,.Tag{
	display:inline-block;
	margin-bottom:1em;
	margin-top:1em;
	text-align:center}
.Badge,.Tag{margin-right:.75em}
.Badge{
	height:3em;
	width:3em}
.Button,.Label{margin-right:1.75em}
.Badge-Fill,.Button-Fill,.Button-Text,.Tag-Fill{
	padding-bottom:.75em;
	padding-top:.75em}
.Button-Fill{
	padding-left:2em;
	padding-right:2em}
.Tag-Fill{
	padding-left:1em;
	padding-right:1em}
.Badge-Outline,.Button-Outline,.Tag-Outline{
	background-color:transparent;
	border:.25em solid;
	padding-bottom:.5em;
	padding-top:.5em}
.Button-Outline{
	padding-left:1.75em;
	padding-right:1.75em}
.Tag-Outline{
	padding-left:.75em;
	padding-right:.75em}
/*Stage*/
.Stage{
	display:table;
	width:100%}
.Stage>*{
	display:table-cell;
	vertical-align:middle}
.Stage_Left,.Stage_Right{width:50%}
/*Content*/
.Content,.Content_Segment{overflow:hidden}
.Content{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:1280px;
	padding:7rem 4rem}
.Content_Segment{
	margin-bottom:1rem;
	margin-top:1rem;
	padding:1rem 2rem}
/*Grid*/
.Grid:before,.Grid:after{
	content:"";
	display:table}
.Grid:after{clear:both}
.Grid>*{
	display:block;
	float:left;
	overflow:hidden;
	width:100%}
.Grid-Gutter{
	margin-left:-1rem;
	margin-right:-1rem}
.Grid-Gutter>*{
	padding-left:1rem;
	padding-right:1rem}
.Grid-Gutter>.Grid-Gutter{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0}
/*Width*/
.Widths-100>*{width:100%}
.Widths-90>*{width:90%}
.Widths-80>*{width:80%}
.Widths-75>*{width:75%}
.Widths-70>*{width:70%}
.Widths-67>*{width:66.6666%}
.Widths-60>*{width:60%}
.Widths-50>*{width:50%}
.Widths-40>*{width:40%}
.Widths-33>*{width:33.3333%}
.Widths-30>*{width:30%}
.Widths-25>*{width:25%}
.Widths-20>*{width:20%}
.Widths-17>*{width:16.6666%}
.Widths-13>*{width:12.5%}
.Widths-11>*{width:11.1111%}
.Widths-10>*{width:10%}
.Widths-8>*{width:8.3333%}
.Widths-Auto>*{width:auto}
.Width-100{width:100%}
.Width-90{width:90%}
.Width-80{width:80%}
.Width-75{width:75%}
.Width-70{width:70%}
.Width-67{width:66.6666%}
.Width-60{width:60%}
.Width-50{width:50%}
.Width-40{width:40%}
.Width-33{width:33.3333%}
.Width-30{width:30%}
.Width-25{width:25%}
.Width-20{width:20%}
.Width-17{width:16.6666%}
.Width-13{width:12.5%}
.Width-11{width:11.1111%}
.Width-10{width:10%}
.Width-8{width:8.3333%}
.Width-Auto{width:auto}
/*Height*/
.Height-100{height:100vh}
.Height-90{height:90vh}
.Height-80{height:80vh}
.Height-75{height:75vh}
.Height-70{height:70vh}
.Height-67{height:66.6666vh}
.Height-60{height:60vh}
.Height-50{height:50vh}
.Height-40{height:40vh}
.Height-33{height:33.3333vh}
.Height-30{height:30vh}
.Height-25{height:25vh}
.Height-20{height:20vh}
.Height-10{height:10vh}
/*Float*/
.Float-Left{float:left}
.Float-None{float:none}
.Float-Right{float:right}
/*Display*/
.Hide{display:none}
/*Media Queries*/
@media (min-width:1281px){
	/*Typography*/
	.Lap_Text-Center{text-align:center}
	.Lap_Text-Justify{text-align:justify}
	.Lap_Text-Left{text-align:left}
	.Lap_Text-Right{text-align:right}
	/*Stage*/
	.Stage_Left .Content,.Stage_Right .Content{max-width:640px}
	.Stage_Left .Content{margin-right:0}
	.Stage_Right .Content{margin-left:0}
	/*Width*/
	.Lap_Widths-100>*{width:100%}
	.Lap_Widths-90>*{width:90%}
	.Lap_Widths-80>*{width:80%}
	.Lap_Widths-75>*{width:75%}
	.Lap_Widths-70>*{width:70%}
	.Lap_Widths-67>*{width:66.6666%}
	.Lap_Widths-60>*{width:60%}
	.Lap_Widths-50>*{width:50%}
	.Lap_Widths-40>*{width:40%}
	.Lap_Widths-33>*{width:33.3333%}
	.Lap_Widths-30>*{width:30%}
	.Lap_Widths-25>*{width:25%}
	.Lap_Widths-20>*{width:20%}
	.Lap_Widths-17>*{width:16.6666%}
	.Lap_Widths-13>*{width:12.5%}
	.Lap_Widths-11>*{width:11.1111%}
	.Lap_Widths-10>*{width:10%}
	.Lap_Widths-8>*{width:8.3333%}
	.Lap_Widths-Auto>*{width:auto}
	.Lap_Width-100{width:100%}
	.Lap_Width-90{width:90%}
	.Lap_Width-80{width:80%}
	.Lap_Width-75{width:75%}
	.Lap_Width-70{width:70%}
	.Lap_Width-67{width:66.6666%}
	.Lap_Width-60{width:60%}
	.Lap_Width-50{width:50%}
	.Lap_Width-40{width:40%}
	.Lap_Width-33{width:33.3333%}
	.Lap_Width-30{width:30%}
	.Lap_Width-25{width:25%}
	.Lap_Width-20{width:20%}
	.Lap_Width-17{width:16.6666%}
	.Lap_Width-13{width:12.5%}
	.Lap_Width-11{width:11.1111%}
	.Lap_Width-10{width:10%}
	.Lap_Width-8{width:8.3333%}
	.Lap_Width-Auto{width:auto}
	/*Height*/
	.Lap_Height-100{height:100vh}
	.Lap_Height-90{height:90vh}
	.Lap_Height-80{height:80vh}
	.Lap_Height-75{height:75vh}
	.Lap_Height-70{height:70vh}
	.Lap_Height-67{height:66.6666vh}
	.Lap_Height-60{height:60vh}
	.Lap_Height-50{height:50vh}
	.Lap_Height-40{height:40vh}
	.Lap_Height-33{height:33.3333vh}
	.Lap_Height-30{height:30vh}
	.Lap_Height-25{height:25vh}
	.Lap_Height-20{height:20vh}
	.Lap_Height-10{height:10vh}
	.Lap_Height-Auto{height:auto}
	/*Display*/
	.Lap_Hide{display:none}
}
@media (max-width:1280px) and (min-width:960px){
	/*Typography*/
	.Hand_Text-Center{text-align:center}
	.Hand_Text-Justify{text-align:justify}
	.Hand_Text-Left{text-align:left}
	.Hand_Text-Right{text-align:right}
	/*Width*/
	.Hand_Widths-100>*{width:100%}
	.Hand_Widths-90>*{width:90%}
	.Hand_Widths-80>*{width:80%}
	.Hand_Widths-75>*{width:75%}
	.Hand_Widths-70>*{width:70%}
	.Hand_Widths-67>*{width:66.6666%}
	.Hand_Widths-60>*{width:60%}
	.Hand_Widths-50>*{width:50%}
	.Hand_Widths-40>*{width:40%}
	.Hand_Widths-33>*{width:33.3333%}
	.Hand_Widths-30>*{width:30%}
	.Hand_Widths-25>*{width:25%}
	.Hand_Widths-20>*{width:20%}
	.Hand_Widths-17>*{width:16.6666%}
	.Hand_Widths-13>*{width:12.5%}
	.Hand_Widths-11>*{width:11.1111%}
	.Hand_Widths-10>*{width:10%}
	.Hand_Widths-8>*{width:8.3333%}
	.Hand_Widths-Auto>*{width:auto}
	.Hand_Width-100{width:100%}
	.Hand_Width-90{width:90%}
	.Hand_Width-80{width:80%}
	.Hand_Width-75{width:75%}
	.Hand_Width-70{width:70%}
	.Hand_Width-67{width:66.6666%}
	.Hand_Width-60{width:60%}
	.Hand_Width-50{width:50%}
	.Hand_Width-40{width:40%}
	.Hand_Width-33{width:33.3333%}
	.Hand_Width-30{width:30%}
	.Hand_Width-25{width:25%}
	.Hand_Width-20{width:20%}
	.Hand_Width-17{width:16.6666%}
	.Hand_Width-13{width:12.5%}
	.Hand_Width-11{width:11.1111%}
	.Hand_Width-10{width:10%}
	.Hand_Width-8{width:8.3333%}
	.Hand_Width-Auto{width:auto}
	/*Height*/
	.Hand_Height-100{height:100vh}
	.Hand_Height-90{height:90vh}
	.Hand_Height-80{height:80vh}
	.Hand_Height-75{height:75vh}
	.Hand_Height-70{height:70vh}
	.Hand_Height-67{height:66.6666vh}
	.Hand_Height-60{height:60vh}
	.Hand_Height-50{height:50vh}
	.Hand_Height-40{height:40vh}
	.Hand_Height-33{height:33.3333vh}
	.Hand_Height-30{height:30vh}
	.Hand_Height-25{height:25vh}
	.Hand_Height-20{height:20vh}
	.Hand_Height-10{height:10vh}
	.Hand_Height-Auto{height:auto}
	/*Display*/
	.Hand_Hide{display:none}
}
@media (max-width:959px){
	/*Typography*/
	.Palm_Text-Center{text-align:center}
	.Palm_Text-Justify{text-align:justify}
	.Palm_Text-Left{text-align:left}
	.Palm_Text-Right{text-align:right}
	/*Format*/
	.hr-Gutter{
		margin-bottom:3rem;
		margin-top:3rem}
	.br-Gutter{line-height:2rem}
	/*Form*/
	input[type=submit],input[type=reset]{width:100%}
	/*Button*/
	.Button{
		margin-right:0;
		width:100%}
	/*Stage*/
	.Stage-Collapse>*{
		display:block;
		width:100%}
	/*Content*/
	.Content{padding:3rem 2rem}
	/*Width*/
	.Palm_Widths-100>*{width:100%}
	.Palm_Widths-90>*{width:90%}
	.Palm_Widths-80>*{width:80%}
	.Palm_Widths-75>*{width:75%}
	.Palm_Widths-70>*{width:70%}
	.Palm_Widths-67>*{width:66.6666%}
	.Palm_Widths-60>*{width:60%}
	.Palm_Widths-50>*{width:50%}
	.Palm_Widths-40>*{width:40%}
	.Palm_Widths-33>*{width:33.3333%}
	.Palm_Widths-30>*{width:30%}
	.Palm_Widths-25>*{width:25%}
	.Palm_Widths-20>*{width:20%}
	.Palm_Widths-17>*{width:16.6666%}
	.Palm_Widths-13>*{width:12.5%}
	.Palm_Widths-11>*{width:11.1111%}
	.Palm_Widths-10>*{width:10%}
	.Palm_Widths-8>*{width:8.3333%}
	.Palm_Widths-Auto>*{width:auto}
	.Palm_Width-100{width:100%}
	.Palm_Width-90{width:90%}
	.Palm_Width-80{width:80%}
	.Palm_Width-75{width:75%}
	.Palm_Width-70{width:70%}
	.Palm_Width-67{width:66.6666%}
	.Palm_Width-60{width:60%}
	.Palm_Width-50{width:50%}
	.Palm_Width-40{width:40%}
	.Palm_Width-33{width:33.3333%}
	.Palm_Width-30{width:30%}
	.Palm_Width-25{width:25%}
	.Palm_Width-20{width:20%}
	.Palm_Width-17{width:16.6666%}
	.Palm_Width-13{width:12.5%}
	.Palm_Width-11{width:11.1111%}
	.Palm_Width-10{width:10%}
	.Palm_Width-8{width:8.3333%}
	.Palm_Width-Auto{width:auto}
	/*Height*/
	.Palm_Height-100{height:100vh}
	.Palm_Height-90{height:90vh}
	.Palm_Height-80{height:80vh}
	.Palm_Height-75{height:75vh}
	.Palm_Height-70{height:70vh}
	.Palm_Height-67{height:66.6666vh}
	.Palm_Height-60{height:60vh}
	.Palm_Height-50{height:50vh}
	.Palm_Height-40{height:40vh}
	.Palm_Height-33{height:33.3333vh}
	.Palm_Height-30{height:30vh}
	.Palm_Height-25{height:25vh}
	.Palm_Height-20{height:20vh}
	.Palm_Height-10{height:10vh}
	.Palm_Height-Auto{height:auto}
	/*Display*/
	.Palm_Hide{display:none}
}
@media (max-width:639px){
	/*Document*/
	html{font-size:12px}
	/*Media*/
	.Divider{background-image:url(../Interface/Background__Palm_Divider.png)}
	/*Grid*/
	.Grid>*{width:100%}
}